@{
    @using Microsoft.AspNetCore.Identity
    @using Tweet10.Areas.Identity.Data
    @inject SignInManager<User> SignInManager

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tweet10</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tweet10.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container d-flex flex-column flex-md-row bg-danger mt-5">
        <header>
            @if (SignInManager.IsSignedIn(User))
            {
                <partial name="_AuthorizedNavigation" />
            }
            else
            {
                <partial name="_GuestNavigation" />
            }

        </header>
        <div>
            <main role="main" class="pb-3 flex-grow-1 h-75" style="overflow-y: scroll;">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Tweet10 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
